.wrapper{
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.sidebar{
  width: 250px;
}

/* Container */
.container {
  background-color: var(--background);
  font-family: 'Poppins', sans-serif;
  flex: 1; /* Ocupa o espaço restante */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  width: 100%;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

/* Título */
.title {
  font-size: 2rem;
  color: var(--headline-main);
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

/* Cartões */
.goalCards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.card {
  background-color: var(--lighter-background);
  border: 2px solid var(--lightPurple);
  border-radius: 8px;
  height: 150px;
  flex: 1;
  margin: 0 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Área de Input */
.inputArea {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
  background-color: var(--lighter-background);
  border: 2px solid var(--lightPurple);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
}

.input {
  flex-grow: 1;
  padding: 0.75rem 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: var(--lighter-background);
  color: var(--text);
}

/* Toggle Pro */
.toggle {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.toggle span {
  margin-right: 8px;
  font-size: 0.9rem;
}

.toggle input {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: var(--background);
  border-radius: 50px;
  transition: 0.4s;
  cursor: pointer;
}

.toggle input:checked + .slider {
  background-color: var(--purple);
}

.toggle .slider::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--lighter-background);
  border-radius: 50%;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  transition: 0.4s;
}

.toggle input:checked + .slider::before {
  transform: translate(20px, -50%);
}

/* Botão de envio */
.submitButton {
  background-color: var(--purple);
  color: var(--button-text);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.2rem;
}

.submitButton:hover {
  background-color: var(--button-background);
}
